{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0"
      ],
      "plugins": ["istanbul"]
    },
    "main": {
      "presets": [
        ["env", {
          "targets": { "node": 7 }
        }],
        "stage-0"
      ]
    },
    "renderer": {
      "presets": [
        ["env", {
          "targets": {
            "chrome": 65
          },
          "modules": false,
          "useBuiltIns": "usage"
        }],
        "stage-0"
      ]
    },
    "preload": {
      "presets": [
        ["env", {
          "targets": {
            "chrome": 65
          },
          "modules": false,
          "useBuiltIns": "usage"
        }],
        "stage-0"
      ]
    }
  },
  "plugins": ["transform-runtime", "syntax-dynamic-import", "transform-strict-mode"]
}
